extends layout

block content

  div(id='debug')
    button(onclick='wp.cleanStorage()') clean
    button(onclick='wp.bootstrap()') bootstrap
    button(onclick='wp.clearBootstrap()') clear

  div(id='main')
    div(id='objects' class='collection')
      h2 Objects

      div(id='process-list' class='collection-category')
        h3(class='control-container')
          span(class='collection-name') Processes
          span(class='control-add control' onclick='wp.Process.new({})') +

      div(id='view-list' class='collection-category')
        h3(class='control-container')
          span(class='collection-name') Views
          span(class='control-add control' onclick='wp.View.new({})') +

    div(id='content-list')

    div(id='library' class='collection')
      h2 Library

  script(type='application/javascript' src='/javascripts/libs/uuid.js')
  script(type='application/javascript' src='/javascripts/libs/natives.js')
  script(type='application/javascript' src='/javascripts/libs/Element.js')
  script(type='application/javascript' src='/javascripts/libs/xhr.js')
  script(type='application/javascript' src='/javascripts/libs/Evented.js')
  script(type='application/javascript' src='/javascripts/dashboard.js')
  script(type='application/javascript' src='/javascripts/draw.js')
  script(type='application/javascript' src='/javascripts/WPObj.js')
  script(type='application/javascript' src='/javascripts/Process.js')
  script(type='application/javascript' src='/javascripts/View.js')
  script(type='application/javascript' src='/javascripts/LibraryItem.js')
  script(type='application/javascript' src='/javascripts/Link.js')
  script(type='application/javascript' src='/javascripts/stdlib-controls.js')
  script(type='application/javascript' src='/javascripts/stdlib-inputs.js')
  script(type='application/javascript' src='/javascripts/stdlib-operators.js')
  script(type='application/javascript' src='/javascripts/stdlib-outputs.js')
  script(type='application/javascript' src='/javascripts/bootstrap.js')